page-form {
    .topContainer {
        background-color: #363F45;
        padding: 0;
        padding-bottom: 20px;
   }
    .headline {
        padding: 0;
        height: 15px;
    }
    .valueline {
        height: 42px;
        padding: 0;
    }   
    .lbl{
        color: #ababab;
        font-size: 10px;
    }
    .value {
        color: #ffffff;
        font-size: 22px;
    }
}
